@import url('https://fonts.cdnfonts.com/css/harabara');
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

input {
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    background-color: #e2001a;
    color: #fff;
}

input:hover {
    background-color: black;
    transition: background-color 0.3s ease;
}

h1 {
    margin: 0;
    font-family: 'Harabara', sans-serif;
    font-weight: 900;
}

h4 {
    font-family: 'Harabara', sans-serif;
}